/* styles.css */
.welcome {
    font-size: 30px;
    font-family: cursive;
    color: rgb(4, 4, 7);
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
  }
.home {
    font-family: cursive;
}